@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;500&display=swap');

html,
body {
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}




.css-61otoq-MuiTypography-root-MuiBreadcrumbs-root .MuiBreadcrumbs-li .MuiTypography-root {
  color: #636363 !important;
  font: normal normal 300 30px/23px Montserrat;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding-right: 1rem;
  margin-top: -18px;
  margin-bottom: 85px;
}

.css-4jv9yj-MuiCardHeader-root .MuiCardHeader-title {
  font-family: 'Montserrat', sans-serif;
}

.css-b0hv4d-MuiTableRow-root .MuiTableCell-head:not(.MuiTableCell-paddingCheckbox):first-child,
.css-b0hv4d-MuiTableRow-root .MuiTableCell-root:not(.MuiTableCell-paddingCheckbox):first-child {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #5e5873;
}


@media only screen and (max-width: 1399px) {
  .profileCard {
    width: 100% !important;
  }

  .profileFooter {
    width: 94px;
  }

}


@media only screen and (max-width: 1200px) {
  .depositeGrid {
    max-width: 500% !important;
  }

  .referalBox {
    padding: 0px !important;
  }

}

@media only screen and (max-width: 1199px) {

  .profileFooter {
    width: 130px;
  }
}

@media only screen and (max-width: 400px) {

  .profileFooter {
    width: 100px;
  }

  .profileFooter span {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  .css-1k9xpz4-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
    overflow: auto !important;
  }

  .css-1k9xpz4-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell::-webkit-scrollbar {
    display: none;
  }

}

@media only screen and (max-width: 430px) {
  .css-1a17b5f-MuiFormControl-root-MuiTextField-root {
    width: 162% !important;
  }

  #addSingle .css-1a17b5f-MuiFormControl-root-MuiTextField-root,
  #addSingle .css-1igoo27-MuiFormControl-root-MuiTextField-root,
  #addSingle .css-13az369-MuiButtonBase-root-MuiButton-root {
    width: 130% !important;
    margin-left: -26px !important;
  }

  #addMultiple .css-1pyy021-MuiTabs-flexContainer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 72%;
    align-items: flex-start;
    justify-content: start;
  }
  #priceLimits .css-1pyy021-MuiTabs-flexContainer{
    display: inline-flex;
    flex-wrap: wrap;
  }

  #addMultiple .css-12jbg7i-MuiTypography-root {
    margin-left: 0;
    width: 246px;
  }

  #addMultiple .css-1igoo27-MuiFormControl-root-MuiTextField-root .MuiInputBase-root.MuiFilledInput-root {
    width: 248%;
  }

  #addMultiple .css-1mqo22u-MuiTabs-flexContainer {
    justify-content: center;
    flex-wrap: wrap;
  }

  #addMultiple .css-sue1jc-MuiGrid-root>.MuiGrid-item {
    margin-right: 125px;
    margin-left: -28px;
  }

  #addMultiple .css-1a17b5f-MuiFormControl-root-MuiTextField-root .MuiInputBase-root.MuiInputBase-sizeSmall {
    border-radius: 6px;
    width: 62%;
  }

  .smsInput {
    width: 140% !important;
  }

  .requestInput {
    max-width: 42% !important;
  }

  .profileInput {
    width: 100% !important;
  }

  #addSingle .css-1mqo22u-MuiTabs-flexContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #addSingle .css-18c129c-MuiButtonBase-root-MuiTab-root {
    max-width: 94px;
  }
}

/* .css-kfnegd-MuiInputBase-root-MuiFilledInput-root {
} */

@media only screen and (max-width: 482px) {

  .toggleBtn,
  .smsBtn {
    width: 52%;
    margin-left: 16px !important;
    font-size: 14px !important;
    padding: 10px !important;
  }

  .supportBtn {
    padding: 5px 12px !important;
    margin: 0 12px !important;
  }
}

#addMultiRightSide .css-1pyy021-MuiTabs-flexContainer {
  padding-top: 12px;
  justify-content: space-around;
}

#addMultiRightSide .css-k4l1d2-MuiBadge-badge,
#addMultiRightSide .css-10nttw6-MuiBadge-badge,
#addMultiRightSide .css-duz3jo-MuiBadge-badge,
#addMultiRightSide .css-17caxh5-MuiBadge-badge,
#addMultiRightSide .css-d6mv1v-MuiBadge-badge {
  margin-right: 20px;
  margin-top: 16px;
}

@media only screen and (max-width: 1700px) {
  #cartModal{
    right: 24px;
  }
}
@media only screen and (min-width: 470px) and  (max-width: 602px) {
  #cartModal{
   width: 400px;
  }
}
@media only screen and (min-width: 320px) and  (max-width: 469px) {
  #cartModal {
    width: 292px;
    right: 10px;
}
}